# Assignment 1: Data Science and Big Data Analysis (COSC 4301)

#                           Richard Johnson L20455045


"Auto MPG Dataset"

This dataset is a slightly modified version of the dataset provided in the StatLib library. In line with the use by Ross Quinlan (1993) in predicting the attribute "mpg", 8 of the original instances were removed because they had unknown values for the "mpg" attribute. The original dataset is available in the file "auto-mpg.data-original".

"The data concerns city-cycle fuel consumption in miles per gallon, to be predicted in terms of 3 multivalued discrete and 5 continuous attributes." (Quinlan, 1993)

 Attribute Information:
1. mpg: continuous
2. cylinders: multi-valued discrete
3. displacement: continuous
4. horsepower: continuous
5. weight: continuous
6. acceleration: continuous
7. model year: multi-valued discrete
8. origin: multi-valued discrete
9. car name: string (unique for each instance)

In [1]:
#Importing required library
import numpy as np
import pandas as pd

In [14]:
#Load 'car.data' dataset into a pandas dataframe object 'data'

data = pd.read_csv('auto-mpg.data-original', delim_whitespace=True, header=None)

In [15]:
#Checking top5 data 
data.head()

      0    1      2      3       4     5     6    7                          8
0  18.0  8.0  307.0  130.0  3504.0  12.0  70.0  1.0  chevrolet chevelle malibu
1  15.0  8.0  350.0  165.0  3693.0  11.5  70.0  1.0          buick skylark 320
2  18.0  8.0  318.0  150.0  3436.0  11.0  70.0  1.0         plymouth satellite
3  16.0  8.0  304.0  150.0  3433.0  12.0  70.0  1.0              amc rebel sst
4  17.0  8.0  302.0  140.0  3449.0  10.5  70.0  1.0                ford torino

In [28]:
#Setting the columns name from our dataset file

data.columns = ['mpg','cylinders','displacement','hp','weight','acceleration', 'model_year', 'origin', 'car_name']

In [29]:
#Watching the changes
data

,mpg,cylinders,displacement,hp,weight,acceleration,model_year,origin,car_name
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth satellite
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,amc rebel sst
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,ford torino
...,...,...,...,...,...,...,...,...,...
401,27.0,4.0,140.0,86.0,2790.0,15.6,82.0,1.0,ford mustang gl
402,44.0,4.0,97.0,52.0,2130.0,24.6,82.0,2.0,vw pickup
403,32.0,4.0,135.0,84.0,2295.0,11.6,82.0,1.0,dodge rampage
404,28.0,4.0,120.0,79.0,2625.0,18.6,82.0,1.0,ford ranger
405,31.0,4.0,119.0,82.0,2720.0,19.4,82.0,1.0,chevy s-10

In [30]:
#Getting information of our dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     406 non-null    float64
 2   displacement  406 non-null    float64
 3   hp            400 non-null    float64
 4   weight        406 non-null    float64
 5   acceleration  406 non-null    float64
 6   model_year    406 non-null    float64
 7   origin        406 non-null    float64
 8   car_name      406 non-null    object
dtypes: float64(8), object(1)
memory usage: 28.7+ KB

In [31]:
#Checking for null values 
#Result shows no null values
data.isnull().any()

mpg              True
cylinders       False
displacement    False
hp               True
weight          False
acceleration    False
model_year      False
origin          False
car_name        False
dtype: bool

In [32]:
#Finding number of unique value in 'mpg' column

data['mpg'].nunique()

129

In [33]:
#Finding unique values for all columns

data['cylinders'].unique()

array([8., 4., 6., 3., 5.])

In [34]:
data['displacement'].unique()

array([307. , 350. , 318. , 304. , 302. , 429. , 454. , 440. , 455. ,
       390. , 133. , 351. , 383. , 360. , 340. , 400. , 113. , 198. ,
       199. , 200. ,  97. , 110. , 107. , 104. , 121. , 140. ,  98. ,
       232. , 225. , 250. , 258. , 122. , 116. ,  79. ,  88. ,  71. ,
        72. ,  91. ,  97.5,  70. , 120. ,  96. , 108. , 155. ,  68. ,
       114. , 156. ,  76. ,  83. ,  90. , 231. , 262. , 134. , 119. ,
       171. , 115. , 101. , 305. ,  85. , 130. , 168. , 111. , 260. ,
       151. , 146. ,  80. ,  78. , 105. , 131. , 163. ,  89. , 267. ,
        86. , 183. , 141. , 173. , 135. ,  81. , 100. , 145. , 112. ,
       181. , 144. ])

In [35]:
data['hp'].unique()

array([130., 165., 150., 140., 198., 220., 215., 225., 190., 115., 153.,
       175., 170., 160.,  95.,  97.,  85.,  88.,  46.,  87.,  90., 113.,
       200., 210., 193.,  nan,  48., 100., 105., 180., 110.,  72.,  86.,
        70.,  76.,  65.,  69.,  60.,  80.,  54., 208., 155., 112.,  92.,
       145., 137., 158., 167.,  94., 107., 230.,  49.,  75.,  91., 122.,
        67.,  83.,  78.,  52.,  61.,  93., 148., 129.,  96.,  71.,  98.,
        53.,  81.,  79., 120., 152., 102., 108.,  68.,  58., 149.,  89.,
        63.,  66., 139., 103., 125., 133., 138., 135., 142.,  77.,  62.,
       132.,  84.,  64.,  74., 116.,  82.])

In [36]:
data['weight'].unique()

array([3504., 3693., 3436., 3433., 3449., 4341., 4354., 4312., 4425.,
       3850., 3090., 4142., 4034., 4166., 3563., 3609., 3353., 3761.,
       3086., 2372., 2833., 2774., 2587., 2130., 1835., 2672., 2430.,
       2375., 2234., 2648., 4615., 4376., 4382., 4732., 2264., 2228.,
       2046., 1978., 2634., 3439., 3329., 3302., 3288., 4209., 4464.,
       4154., 4096., 4955., 4746., 5140., 2962., 2408., 3282., 3139.,
       2220., 2123., 2074., 2065., 1773., 1613., 1834., 1955., 2278.,
       2126., 2254., 2226., 4274., 4385., 4135., 4129., 3672., 4633.,
       4502., 4456., 4422., 2330., 3892., 4098., 4294., 4077., 2933.,
       2511., 2979., 2189., 2395., 2288., 2506., 2164., 2100., 4100.,
       3988., 4042., 3777., 4952., 4363., 4237., 4735., 4951., 3821.,
       3121., 3278., 2945., 3021., 2904., 1950., 4997., 4906., 4654.,
       4499., 2789., 2279., 2401., 2379., 2124., 2310., 2472., 2265.,
       4082., 4278., 1867., 2158., 2582., 2868., 3399., 2660., 2807.,
       3664., 3102., 2875., 2901., 3336., 2451., 1836., 2542., 3781.,
       3632., 3613., 4141., 4699., 4457., 4638., 4257., 2219., 1963.,
       2300., 1649., 2003., 2125., 2108., 2246., 2489., 2391., 2000.,
       3264., 3459., 3432., 3158., 4668., 4440., 4498., 4657., 3907.,
       3897., 3730., 3785., 3039., 3221., 3169., 2171., 2639., 2914.,
       2592., 2702., 2223., 2545., 2984., 1937., 3211., 2694., 2957.,
       2671., 1795., 2464., 2572., 2255., 2202., 4215., 4190., 3962.,
       3233., 3012., 3085., 2035., 3651., 3574., 3645., 3193., 1825.,
       1990., 2155., 2565., 3150., 3940., 3270., 2930., 3820., 4380.,
       4055., 3870., 3755., 2045., 1945., 3880., 4060., 4140., 4295.,
       3520., 3425., 3630., 3525., 4220., 4165., 4325., 4335., 1940.,
       2740., 2755., 2051., 2075., 1985., 2190., 2815., 2600., 2720.,
       1800., 2070., 3365., 3735., 3570., 3535., 3155., 2965., 3430.,
       3210., 3380., 3070., 3620., 3410., 3445., 3205., 4080., 2560.,
       2230., 2515., 2745., 2855., 2405., 2830., 3140., 2795., 2135.,
       3245., 2990., 2890., 3265., 3360., 3840., 3725., 3955., 3830.,
       4360., 4054., 3605., 1925., 1975., 1915., 2670., 3530., 3900.,
       3190., 3420., 2200., 2150., 2020., 2595., 2700., 2556., 2144.,
       1968., 2120., 2019., 2678., 2870., 3003., 3381., 2188., 2711.,
       2434., 2110., 2800., 2085., 2335., 2950., 3250., 1850., 2145.,
       1845., 2910., 2420., 2500., 2905., 2290., 2490., 2635., 2620.,
       2725., 2385., 1755., 1875., 1760., 2050., 2215., 2380., 2320.,
       2210., 2350., 2615., 3230., 3160., 2900., 3415., 3060., 3465.,
       2605., 2640., 2575., 2525., 2735., 2865., 3035., 1980., 2025.,
       1970., 2160., 2205., 2245., 1965., 1995., 3015., 2585., 2835.,
       2665., 2370., 2790., 2295., 2625.])

In [37]:
data['acceleration'].unique()

array([12. , 11.5, 11. , 10.5, 10. ,  9. ,  8.5, 17.5,  8. ,  9.5, 15. ,
       15.5, 16. , 14.5, 20.5, 12.5, 14. , 13.5, 18.5, 19. , 20. , 13. ,
       19.5, 18. , 17. , 23.5, 16.5, 21. , 16.9, 14.9, 17.7, 15.3, 13.9,
       12.8, 15.4, 17.6, 22.2, 22.1, 14.2, 17.4, 16.2, 17.8, 12.2, 16.4,
       13.6, 15.7, 13.2, 21.9, 16.7, 12.1, 14.8, 18.6, 16.8, 13.7, 11.1,
       11.4, 18.2, 15.8, 15.9, 14.1, 21.5, 14.4, 19.4, 19.2, 17.2, 18.7,
       15.1, 13.4, 11.2, 14.7, 16.6, 17.3, 15.2, 14.3, 20.1, 24.8, 11.3,
       12.9, 18.8, 18.1, 17.9, 21.7, 23.7, 19.9, 21.8, 13.8, 12.6, 16.1,
       20.7, 18.3, 20.4, 19.6, 17.1, 15.6, 24.6, 11.6])

In [38]:
data['model_year'].unique()

array([70., 71., 72., 73., 74., 75., 76., 77., 78., 79., 80., 81., 82.])

In [39]:
data['origin'].unique()

array([1., 2., 3.])

In [40]:
data['car_name'].unique()

array(['chevrolet chevelle malibu', 'buick skylark 320',
       'plymouth satellite', 'amc rebel sst', 'ford torino',
       'ford galaxie 500', 'chevrolet impala', 'plymouth fury iii',
       'pontiac catalina', 'amc ambassador dpl', 'citroen ds-21 pallas',
       'chevrolet chevelle concours (sw)', 'ford torino (sw)',
       'plymouth satellite (sw)', 'amc rebel sst (sw)',
       'dodge challenger se', "plymouth 'cuda 340",
       'ford mustang boss 302', 'chevrolet monte carlo',
       'buick estate wagon (sw)', 'toyota corona mark ii',
       'plymouth duster', 'amc hornet', 'ford maverick', 'datsun pl510',
       'volkswagen 1131 deluxe sedan', 'peugeot 504', 'audi 100 ls',
       'saab 99e', 'bmw 2002', 'amc gremlin', 'ford f250', 'chevy c20',
       'dodge d200', 'hi 1200d', 'chevrolet vega 2300', 'toyota corona',
       'ford pinto', 'volkswagen super beetle 117',
       'plymouth satellite custom', 'ford torino 500', 'amc matador',
       'pontiac catalina brougham', 'dodge monaco (sw)',
       'ford country squire (sw)', 'pontiac safari (sw)',
       'amc hornet sportabout (sw)', 'chevrolet vega (sw)',
       'pontiac firebird', 'ford mustang', 'mercury capri 2000',
       'opel 1900', 'peugeot 304', 'fiat 124b', 'toyota corolla 1200',
       'datsun 1200', 'volkswagen model 111', 'plymouth cricket',
       'toyota corona hardtop', 'dodge colt hardtop', 'volkswagen type 3',
       'chevrolet vega', 'ford pinto runabout', 'amc ambassador sst',
       'mercury marquis', 'buick lesabre custom',
       'oldsmobile delta 88 royale', 'chrysler newport royal',
       'mazda rx2 coupe', 'amc matador (sw)', 'ford gran torino (sw)',
       'plymouth satellite custom (sw)', 'volvo 145e (sw)',
       'volkswagen 411 (sw)', 'peugeot 504 (sw)', 'renault 12 (sw)',
       'ford pinto (sw)', 'datsun 510 (sw)',
       'toyouta corona mark ii (sw)', 'dodge colt (sw)',
       'toyota corolla 1600 (sw)', 'buick century 350',
       'chevrolet malibu', 'ford gran torino', 'dodge coronet custom',
       'mercury marquis brougham', 'chevrolet caprice classic',
       'ford ltd', 'plymouth fury gran sedan',
       'chrysler new yorker brougham', 'buick electra 225 custom',
       'amc ambassador brougham', 'plymouth valiant',
       'chevrolet nova custom', 'volkswagen super beetle', 'ford country',
       'plymouth custom suburb', 'oldsmobile vista cruiser',
       'toyota carina', 'datsun 610', 'maxda rx3', 'mercury capri v6',
       'fiat 124 sport coupe', 'chevrolet monte carlo s',
       'pontiac grand prix', 'fiat 128', 'opel manta', 'audi 100ls',
       'volvo 144ea', 'dodge dart custom', 'saab 99le', 'toyota mark ii',
       'oldsmobile omega', 'chevrolet nova', 'datsun b210',
       'chevrolet chevelle malibu classic', 'plymouth satellite sebring',
       'buick century luxus (sw)', 'dodge coronet custom (sw)',
       'audi fox', 'volkswagen dasher', 'datsun 710', 'dodge colt',
       'fiat 124 tc', 'honda civic', 'subaru', 'fiat x1.9',
       'plymouth valiant custom', 'mercury monarch', 'chevrolet bel air',
       'plymouth grand fury', 'buick century',
       'chevroelt chevelle malibu', 'plymouth fury', 'buick skyhawk',
       'chevrolet monza 2+2', 'ford mustang ii', 'toyota corolla',
       'pontiac astro', 'volkswagen rabbit', 'amc pacer', 'volvo 244dl',
       'honda civic cvcc', 'fiat 131', 'capri ii', 'renault 12tl',
       'dodge coronet brougham', 'chevrolet chevette', 'chevrolet woody',
       'vw rabbit', 'dodge aspen se', 'ford granada ghia',
       'pontiac ventura sj', 'amc pacer d/l', 'datsun b-210', 'volvo 245',
       'plymouth volare premier v8', 'mercedes-benz 280s',
       'cadillac seville', 'chevy c10', 'ford f108', 'dodge d100',
       'honda accord cvcc', 'buick opel isuzu deluxe', 'renault 5 gtl',
       'plymouth arrow gs', 'datsun f-10 hatchback',
       'oldsmobile cutlass supreme', 'dodge monaco brougham',
       'mercury cougar brougham', 'chevrolet concours', 'buick skylark',
       'plymouth volare custom', 'ford granada', 'pontiac grand prix lj',
       'chevrolet monte carlo landau', 'chrysler cordoba',
       'ford thunderbird', 'volkswagen rabbit custom',
       'pontiac sunbird coupe', 'toyota corolla liftback',
       'ford mustang ii 2+2', 'dodge colt m/m', 'subaru dl', 'datsun 810',
       'bmw 320i', 'mazda rx-4', 'volkswagen rabbit custom diesel',
       'ford fiesta', 'mazda glc deluxe', 'datsun b210 gx',
       'oldsmobile cutlass salon brougham', 'dodge diplomat',
       'mercury monarch ghia', 'pontiac phoenix lj',
       'ford fairmont (auto)', 'ford fairmont (man)', 'plymouth volare',
       'amc concord', 'buick century special', 'mercury zephyr',
       'dodge aspen', 'amc concord d/l',
       'buick regal sport coupe (turbo)', 'ford futura',
       'dodge magnum xe', 'datsun 510', 'dodge omni',
       'toyota celica gt liftback', 'plymouth sapporo',
       'oldsmobile starfire sx', 'datsun 200-sx', 'audi 5000',
       'volvo 264gl', 'saab 99gle', 'peugeot 604sl',
       'volkswagen scirocco', 'honda accord lx', 'pontiac lemans v6',
       'mercury zephyr 6', 'ford fairmont 4', 'amc concord dl 6',
       'dodge aspen 6', 'ford ltd landau', 'mercury grand marquis',
       'dodge st. regis', 'chevrolet malibu classic (sw)',
       'chrysler lebaron town @ country (sw)', 'vw rabbit custom',
       'maxda glc deluxe', 'dodge colt hatchback custom', 'amc spirit dl',
       'mercedes benz 300d', 'cadillac eldorado', 'plymouth horizon',
       'plymouth horizon tc3', 'datsun 210', 'fiat strada custom',
       'buick skylark limited', 'chevrolet citation',
       'oldsmobile omega brougham', 'pontiac phoenix',
       'toyota corolla tercel', 'datsun 310', 'ford fairmont',
       'audi 4000', 'toyota corona liftback', 'mazda 626',
       'datsun 510 hatchback', 'mazda glc', 'vw rabbit c (diesel)',
       'vw dasher (diesel)', 'audi 5000s (diesel)', 'mercedes-benz 240d',
       'honda civic 1500 gl', 'renault lecar deluxe', 'vokswagen rabbit',
       'datsun 280-zx', 'mazda rx-7 gs', 'triumph tr7 coupe',
       'ford mustang cobra', 'honda accord', 'plymouth reliant',
       'dodge aries wagon (sw)', 'toyota starlet', 'plymouth champ',
       'honda civic 1300', 'datsun 210 mpg', 'toyota tercel',
       'mazda glc 4', 'plymouth horizon 4', 'ford escort 4w',
       'ford escort 2h', 'volkswagen jetta', 'renault 18i',
       'honda prelude', 'datsun 200sx', 'peugeot 505s turbo diesel',
       'saab 900s', 'volvo diesel', 'toyota cressida',
       'datsun 810 maxima', 'oldsmobile cutlass ls', 'ford granada gl',
       'chrysler lebaron salon', 'chevrolet cavalier',
       'chevrolet cavalier wagon', 'chevrolet cavalier 2-door',
       'pontiac j2000 se hatchback', 'dodge aries se',
       'ford fairmont futura', 'amc concord dl', 'volkswagen rabbit l',
       'mazda glc custom l', 'mazda glc custom', 'plymouth horizon miser',
       'mercury lynx l', 'nissan stanza xe', 'honda civic (auto)',
       'datsun 310 gx', 'buick century limited',
       'oldsmobile cutlass ciera (diesel)', 'chrysler lebaron medallion',
       'ford granada l', 'toyota celica gt', 'dodge charger 2.2',
       'chevrolet camaro', 'ford mustang gl', 'vw pickup',
       'dodge rampage', 'ford ranger', 'chevy s-10'], dtype=object)

In [41]:
#Finding unique value in each column
data.nunique()

mpg             129
cylinders         5
displacement     83
hp               93
weight          356
acceleration     96
model_year       13
origin            3
car_name        312
dtype: int64

# Handling Missing Values

In [42]:
#Defining method to replace '?' with null value

def check(x):
    if x == '?':
        return np.NaN
    return x

In [43]:
#Applying that function to every columns

data['mpg'] = data['mpg'].apply(check)
data['cylinders'] = data['cylinders'].apply(check)
data['displacement'] = data['displacement'].apply(check)
data['hp'] = data['hp'].apply(check)
data['weight'] = data['weight'].apply(check)
data['acceleration'] = data['acceleration'].apply(check)
data['model_year'] = data['model_year'].apply(check)
data['origin'] = data['origin'].apply(check)
data['car_name'] = data['car_name'].apply(check)

In [44]:
#Checking total null value in each columns

data.isnull().sum()

mpg             8
cylinders       0
displacement    0
hp              6
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [45]:
#Finding average value of 'mpg' after dropping null value and converting rest of the objects to integer
avg_col1 = round(data['mpg'].dropna().astype(int).mean())

In [46]:
avg_col1

23

In [47]:
#Handling missing values

#Finding average value of each columns and replacing null value with average value of each columns
avg_col = []
for i in range(len(data.columns)-1):
    avg_col.append(round(data[data.columns[i]].dropna().astype(int).mean()))
    data[data.columns[i]] = data[data.columns[i]].fillna(avg_col[i])
    print(avg_col[i])

23
5
195
105
2979
15
76
2

In [48]:
#Converting all the attribute columns to integer type

data['mpg'] = data['mpg'].astype(int)
data['cylinders'] = data['cylinders'].astype(int)
data['displacement'] = data['displacement'].astype(int)
data['hp'] = data['hp'].astype(int)
data['weight'] = data['weight'].astype(int)
data['acceleration'] = data['acceleration'].astype(int)
data['model_year'] = data['model_year'].astype(int)
data['origin'] = data['origin'].astype(int)

In [49]:
#Checking the data again

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           406 non-null    int64
 1   cylinders     406 non-null    int64
 2   displacement  406 non-null    int64
 3   hp            406 non-null    int64
 4   weight        406 non-null    int64
 5   acceleration  406 non-null    int64
 6   model_year    406 non-null    int64
 7   origin        406 non-null    int64
 8   car_name      406 non-null    object
dtypes: int64(8), object(1)
memory usage: 28.7+ KB

In [50]:
# Check for any number of missing value
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
hp              0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

# Calculate Similarity for each attribute

![](1.png)

In [61]:
#Creating numpy array equals the size of data for each columns
#To store the similarity between data objects

array1 = np.zeros((len(data),len(data)))
array2 = np.zeros((len(data),len(data)))
array3 = np.zeros((len(data),len(data)))
array4 = np.zeros((len(data),len(data)))
array5 = np.zeros((len(data),len(data)))
array6 = np.zeros((len(data),len(data)))
array7 = np.zeros((len(data),len(data)))
array8 = np.zeros((len(data),len(data)))
array9 = np.zeros((len(data),len(data)))

In [62]:
array1

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [63]:
#Similarity for the attribute 'mpg' (RATIO ATTRIBUTE)

#Using d = |p-q|; s = 1/(1+d)

s = data['mpg']

for i in range(0,406):
    for j in range (i,406):
        array1[i,j]  =  1/(1+(abs (s[i] - s[j])))
        array1[j,i] = 1/(1+(abs (s[i] - s[j])))

print(array1)

[[1.         0.25       1.         ... 0.06666667 0.09090909 0.07142857]
 [0.25       1.         0.25       ... 0.05555556 0.07142857 0.05882353]
 [1.         0.25       1.         ... 0.06666667 0.09090909 0.07142857]
 ...
 [0.06666667 0.05555556 0.06666667 ... 1.         0.2        0.5       ]
 [0.09090909 0.07142857 0.09090909 ... 0.2        1.         0.25      ]
 [0.07142857 0.05882353 0.07142857 ... 0.5        0.25       1.        ]]

In [64]:
#Similarity for the attribute 'cylinders' (RATIO ATTRIBUTE)

#Using d = |p-q|; s = 1/(1+d)

s = data['cylinders']

for i in range(0,406):
    for j in range (i,406):
        array2[i,j]  =  1/(1+(abs (s[i] - s[j])))
        array2[j,i] = 1/(1+(abs (s[i] - s[j])))

print(array2)

[[1.  1.  1.  ... 0.2 0.2 0.2]
 [1.  1.  1.  ... 0.2 0.2 0.2]
 [1.  1.  1.  ... 0.2 0.2 0.2]
 ...
 [0.2 0.2 0.2 ... 1.  1.  1. ]
 [0.2 0.2 0.2 ... 1.  1.  1. ]
 [0.2 0.2 0.2 ... 1.  1.  1. ]]

In [65]:
#Similarity for the attribute 'displacement' (RATIO ATTRIBUTE)

#Using d = |p-q|; s = 1/(1+d)

s = data['displacement']

for i in range(0,406):
    for j in range (i,406):
        array3[i,j]  =  1/(1+(abs (s[i] - s[j])))
        array3[j,i] = 1/(1+(abs (s[i] - s[j])))

print(array3)

[[1.         0.02272727 0.08333333 ... 0.00578035 0.00531915 0.00529101]
 [0.02272727 1.         0.03030303 ... 0.00462963 0.004329   0.00431034]
 [0.08333333 0.03030303 1.         ... 0.00543478 0.00502513 0.005     ]
 ...
 [0.00578035 0.00462963 0.00543478 ... 1.         0.0625     0.05882353]
 [0.00531915 0.004329   0.00502513 ... 0.0625     1.         0.5       ]
 [0.00529101 0.00431034 0.005      ... 0.05882353 0.5        1.        ]]

In [66]:
#Similarity for the attribute 'hp' (RATIO ATTRIBUTE)

#Using d = |p-q|; s = 1/(1+d)

s = data['hp']

for i in range(0,406):
    for j in range (i,406):
        array4[i,j]  =  1/(1+(abs (s[i] - s[j])))
        array4[j,i] = 1/(1+(abs (s[i] - s[j])))

print(array4)

[[1.         0.02777778 0.04761905 ... 0.0212766  0.01923077 0.02040816]
 [0.02777778 1.         0.0625     ... 0.01219512 0.01149425 0.01190476]
 [0.04761905 0.0625     1.         ... 0.01492537 0.01388889 0.01449275]
 ...
 [0.0212766  0.01219512 0.01492537 ... 1.         0.16666667 0.33333333]
 [0.01923077 0.01149425 0.01388889 ... 0.16666667 1.         0.25      ]
 [0.02040816 0.01190476 0.01449275 ... 0.33333333 0.25       1.        ]]

In [67]:
#Similarity for the attribute 'weight' (RATIO ATTRIBUTE)

#Using d = |p-q|; s = 1/(1+d)

s = data['weight']

for i in range(0,406):
    for j in range (i,406):
        array5[i,j]  =  1/(1+(abs (s[i] - s[j])))
        array5[j,i] = 1/(1+(abs (s[i] - s[j])))

print(array5)

[[1.00000000e+00 5.26315789e-03 1.44927536e-02 ... 8.26446281e-04
  1.13636364e-03 1.27388535e-03]
 [5.26315789e-03 1.00000000e+00 3.87596899e-03 ... 7.14796283e-04
  9.35453695e-04 1.02669405e-03]
 [1.44927536e-02 3.87596899e-03 1.00000000e+00 ... 8.75656743e-04
  1.23152709e-03 1.39470014e-03]
 ...
 [8.26446281e-04 7.14796283e-04 8.75656743e-04 ... 1.00000000e+00
  3.02114804e-03 2.34741784e-03]
 [1.13636364e-03 9.35453695e-04 1.23152709e-03 ... 3.02114804e-03
  1.00000000e+00 1.04166667e-02]
 [1.27388535e-03 1.02669405e-03 1.39470014e-03 ... 2.34741784e-03
  1.04166667e-02 1.00000000e+00]]

In [68]:
#Similarity for the attribute 'acceleration' (RATIO ATTRIBUTE)

#Using d = |p-q|; s = 1/(1+d)

s = data['acceleration']

for i in range(0,406):
    for j in range (i,406):
        array6[i,j]  =  1/(1+(abs (s[i] - s[j])))
        array6[j,i] = 1/(1+(abs (s[i] - s[j])))

print(array6)

[[1.         0.5        0.5        ... 0.5        0.14285714 0.125     ]
 [0.5        1.         1.         ... 1.         0.125      0.11111111]
 [0.5        1.         1.         ... 1.         0.125      0.11111111]
 ...
 [0.5        1.         1.         ... 1.         0.125      0.11111111]
 [0.14285714 0.125      0.125      ... 0.125      1.         0.5       ]
 [0.125      0.11111111 0.11111111 ... 0.11111111 0.5        1.        ]]

In [69]:
#Similarity for the attribute 'model_year' (RATIO ATTRIBUTE)

#Using d = |p-q|; s = 1/(1+d)

s = data['model_year']

for i in range(0,406):
    for j in range (i,406):
        array7[i,j]  =  1/(1+(abs (s[i] - s[j])))
        array7[j,i] = 1/(1+(abs (s[i] - s[j])))

print(array7)

[[1.         1.         1.         ... 0.07692308 0.07692308 0.07692308]
 [1.         1.         1.         ... 0.07692308 0.07692308 0.07692308]
 [1.         1.         1.         ... 0.07692308 0.07692308 0.07692308]
 ...
 [0.07692308 0.07692308 0.07692308 ... 1.         1.         1.        ]
 [0.07692308 0.07692308 0.07692308 ... 1.         1.         1.        ]
 [0.07692308 0.07692308 0.07692308 ... 1.         1.         1.        ]]

In [70]:
#Similarity for the attribute 'origin' (RATIO ATTRIBUTE)

#Using d = |p-q|; s = 1/(1+d)

s = data['origin']

for i in range(0,406):
    for j in range (i,406):
        array8[i,j]  =  1/(1+(abs (s[i] - s[j])))
        array8[j,i] = 1/(1+(abs (s[i] - s[j])))

print(array8)

[[1. 1. 1. ... 1. 1. 1.]
 [1. 1. 1. ... 1. 1. 1.]
 [1. 1. 1. ... 1. 1. 1.]
 ...
 [1. 1. 1. ... 1. 1. 1.]
 [1. 1. 1. ... 1. 1. 1.]
 [1. 1. 1. ... 1. 1. 1.]]

In [73]:
#Similarity for the attribute  'car_name'(NOMINAL ATTRIBUTE)

#Using s = 1 if p=q; s=0 if p!=q

s = data['car_name']

for i in range(0,406):
    for j in range (i,406):
        if s [i] == s[j]:
            array9[i,j] = 1
            array9[j,i] = 1
    
        else:
            array9[i,j] = 0
            array9[j,i] = 0

print(array9)

[[1. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 0. 1.]]

# Combining Similarity

![](2.png)

In [74]:
#Creating Dataframe to store similairty value of each data objects attribute-wise

mat1 = pd.DataFrame(array1)
mat2 = pd.DataFrame(array2)
mat3 = pd.DataFrame(array3)
mat4 = pd.DataFrame(array4)
mat5 = pd.DataFrame(array5)
mat6 = pd.DataFrame(array6)
mat7 = pd.DataFrame(array7)
mat8 = pd.DataFrame(array8)
mat9 = pd.DataFrame(array9)
z = np.zeros((len(data),len(data)))
final_matrix = pd.DataFrame(z)

In [75]:
# Using combining similiraty formula to combine the similarity between attributes
# In formula, del(k) value equals 1 because the values does not equals zero or have missing values

d = 1
for i in range(len(data)):
    for j in range(i,len(data)):
        z[i,j] = z[j,i] = (d*mat1.loc[i,j]+d*mat2.loc[i,j]+d*mat3.loc[i,j]+d*mat4.loc[i,j]+d*mat5.loc[i,j]
                          +d*mat6.loc[i,j]+d*mat7.loc[i,j]+d*mat8.loc[i,j]+d*mat9.loc[i,j])/9

In [76]:
#Checking combined similarity value
z

array([[1.        , 0.42286313, 0.51616057, ..., 0.20794146, 0.1707084 ,
        0.16670274],
       [0.42286313, 1.        , 0.48296433, ..., 0.26111313, 0.16556782,
        0.16267772],
       [0.51616057, 0.48296433, 1.        , ..., 0.2627584 , 0.16810863,
        0.16448336],
       ...,
       [0.20794146, 0.26111313, 0.2627584 , ..., 1.        , 0.39524309,
        0.44506838],
       [0.1707084 , 0.16556782, 0.16810863, ..., 0.39524309, 1.        ,
        0.50115741],
       [0.16670274, 0.16267772, 0.16448336, ..., 0.44506838, 0.50115741,
        1.        ]])

In [77]:
#Creating Dataframe for the final values
final_matrix = pd.DataFrame(z)

In [78]:
final_matrix

,0,1,2,3,4,5,6,7,8,9,...,396,397,398,399,400,401,402,403,404,405
0,1.000000,0.422863,0.516161,0.516093,0.456530,0.400794,0.385436,0.380036,0.394616,0.386798,...,0.194964,0.223430,0.134754,0.206388,0.175128,0.184055,0.101001,0.207941,0.170708,0.166703
1,0.422863,1.000000,0.482964,0.454179,0.432921,0.504828,0.429136,0.420246,0.447466,0.479909,...,0.181089,0.201482,0.113248,0.185921,0.168467,0.174688,0.099448,0.261113,0.165568,0.162678
2,0.516161,0.482964,1.000000,0.572222,0.469018,0.420049,0.395089,0.386047,0.413490,0.393389,...,0.184699,0.211006,0.115050,0.187132,0.171575,0.177716,0.100084,0.262758,0.168109,0.164483
3,0.516093,0.454179,0.572222,1.000000,0.479600,0.429198,0.400569,0.395213,0.409712,0.415364,...,0.191778,0.214162,0.132753,0.205143,0.172431,0.181473,0.100445,0.206381,0.168582,0.165077
4,0.456530,0.432921,0.469018,0.479600,1.000000,0.484357,0.418887,0.400538,0.474349,0.411111,...,0.178366,0.203013,0.105838,0.177927,0.169002,0.173370,0.099572,0.207087,0.166019,0.163038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,0.184055,0.174688,0.177716,0.181473,0.173370,0.170384,0.166937,0.165003,0.169549,0.165922,...,0.467393,0.341059,0.348020,0.437301,0.513653,1.000000,0.300930,0.429854,0.436516,0.406615
402,0.101001,0.099448,0.100084,0.100445,0.099572,0.098576,0.097871,0.097496,0.098313,0.097806,...,0.298532,0.221431,0.300575,0.306060,0.302844,0.300930,1.000000,0.301147,0.309009,0.312836
403,0.207941,0.261113,0.262758,0.206381,0.207087,0.205006,0.185978,0.176766,0.204465,0.177375,...,0.394762,0.302309,0.427365,0.616277,0.390303,0.429854,0.301147,1.000000,0.395243,0.445068
404,0.170708,0.165568,0.168109,0.168582,0.166019,0.163512,0.161577,0.160612,0.162782,0.161411,...,0.406242,0.302132,0.313327,0.390095,0.457517,0.436516,0.309009,0.395243,1.000000,0.501157
405,0.166703,0.162678,0.164483,0.165077,0.163038,0.160903,0.159352,0.158556,0.160331,0.159202,...,0.384212,0.294406,0.344353,0.411614,0.408786,0.406615,0.312836,0.445068,0.501157,1.000000

In [79]:
#Writing the combined similarity to output file
final_matrix.to_csv('Similarity Matrix.csv')